@using SerilogBlazor.ConnectorClient
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject SerilogApiConnectorClient Client
@attribute [Authorize]

<h3>Viewer</h3>

@code {
	private ApplicationUser? user;
}
